<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- Configiure DataSource -->
   <bean id="drds"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property name="driverClassName"  value="oracle.jdbc.driver.OracleDriver"/>
       <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
       <property name="username" value="system"/>
       <property name="password" value="manager"/>
   </bean>
   
   <!-- cfg DAO class -->
   <bean id="custDAO"  class="com.nt.dao.CustomerDAOImpl">
       <constructor-arg   ref="drds"/>
   </bean>
   
   <!-- cfg service class -->
   <bean id="custService"  class="com.nt.service.CustomerMgmtServiceImpl">
       <constructor-arg ref="custDAO"/>
   </bean>
   
   <!-- cfg Controller class -->
   <bean id="controller"  class="com.nt.controller.MainController">
      <constructor-arg ref="custService"/>
   </bean>

</beans>
