<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

  <!-- Configure Spring bean -->
   <bean id="stud"  class="com.nt.comp.Student">
       <!--  <constructor-arg value="1001"/>
        <constructor-arg  value="raja"/>
        <constructor-arg  value="hyd"/>
        <constructor-arg value="56.77f"/> -->
        
     <!--    <property name="sno"  value="1001"/> -->
        <property name="sname" value="raja"/>
        <property name="sadd" value="hyd"/>
    <!--     <property name="avg" value="56.77f"/> -->
   </bean>

</beans>
