<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    
     <bean id="laiCalculator"  class="com.nt.beans.LoanAmtIntrestCalculator">
         <constructor-arg name="details" value="1000000,2,10"/>
     </bean>
     
     <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                 <entry  key="com.nt.beans.LoanAmtDetails"  value="com.nt.editors.LoanAmtDetailsEditor"/>
            </map>
        </property>
     
     </bean>

</beans>
