<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<!-- Dependent bean -->
    <bean id="dfb"  class="com.nt.beans.DateFactoryBean">
        <constructor-arg value="2020"/>
        <constructor-arg value="9"/>
        <constructor-arg  value="30"/>
    </bean>
    
    <!-- target bean -->
    <bean id="remainder"  class="com.nt.beans.ScheduleRemainder">
       <constructor-arg  ref="dfb"/>
    </bean>
    
    

</beans>
