<?xml version="1.0" encoding="UTF-8"?>
<beans  default-lazy-init="default" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!-- cfg all dependent classes as spring beans -->
     <bean id="dtdc"  class="com.nt.beans.DTDC"  scope="singleton" lazy-init="default"/>
     <bean id="bDart"  class="com.nt.beans.BlueDart"/>
     <bean id="fFlight"  class="com.nt.beans.FirstFlight"  scope="prototype"/>
  
  <!-- Cft Target class  as spring bean -->
  <bean id="fpkt"  class="com.nt.beans.Flipkart"  lazy-init="true">
     <property name="courier"  ref="fFlight"/> 
  </bean>

</beans>
