<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
   <!-- configure target class -->
   <bean id="showRoom"  class="com.nt.service.CarShowRoom"/>
   
   <!-- configure  aspect class  as spring bean-->
   <bean id="testDriveAspect"  class="com.nt.aspect.TestDriveAuditAspect"/>
   <!-- enable AspectjAOP -->
   <aop:config>
      <!-- Write Poincut expression -->
       <!-- <aop:pointcut expression="execution(java.lang.String com.nt.service.CarShowRoom.sale(..) )" id="ptc"/> -->
        <aop:pointcut expression="execution(java.lang.String com.nt.service.CarShowRoom.sale(..)) and args(model,price,executive)" id="ptc"/> 
       <!-- configure spring bean as  aspectjAOP advice class -->
       <aop:aspect ref="testDriveAspect">
           <aop:before method="testDrive"  pointcut-ref="ptc"/>
       </aop:aspect>
   </aop:config>

</beans>
