<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- Configiure DataSource -->
	<bean id="ds"	class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"	value="${jdbc.driver}" />
		<property name="url"		value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.pwd}" />
	</bean>
	

	<!-- cfg DAO class -->
	<bean id="oraCustDAO" class="com.nt.dao.OracleCustomerDAOImpl">
		<constructor-arg ref="ds" />
	</bean>

	<bean id="mysqlCustDAO" class="com.nt.dao.MysqlCustomerDAOImpl">
		<constructor-arg ref="ds" />
	</bean>



	<!-- cfg service class -->
	<bean id="custService"		class="com.nt.service.CustomerMgmtServiceImpl">
		<constructor-arg ref="mysqlCustDAO" /> 
	<!-- 	<constructor-arg ref="oraCustDAO"/> -->
	    <property name="osName"  value="${os.name}"/>
	 <!--     <property name="path"  value="${path}"/>  -->
	</bean>

	<!-- cfg Controller class -->
	<bean id="controller" class="com.nt.controller.MainController">
		<constructor-arg ref="custService" />
	</bean>
	
	 <context:property-placeholder  location="classpath:com/nt/commons/jdbc1.properties,classpath:com/nt/commons/jdbc2.properties" />

	<!--   <bean id="pphc"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	   
	     <property name="location"  value="com/nt/commons/jdbc.properties"/>
	     <property name="locations">
	         <array>
	            <value>com/nt/commons/jdbc1.properties</value>
	            <value>com/nt/commons/jdbc2.properties</value>
	         </array>
	     </property>
	</bean>  -->
 

</beans>
